<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whack Yo Circle</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/animation.css">
    <link rel="stylesheet" href="../public/css/font.css">
    <link rel="stylesheet" href="../public/css/normalization.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <main>
        <section class="start" active>
            <div class="bg">
                <div class="logo"></div>
            </div>
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                Please select difficulty UwU.
            </div>
            <div class="container">
                <div class="title">SqueeZeThATcIRCLR</div>
                <div class="selector">
                    <li class="input-radio">
                        <p>Difficulty: <span class="difficulty-text"></span></p>
                        <ul>
                            <input type="radio" name="difficulty" value="1" id="dif-easy">
                            <label for="dif-easy">Easy</label>
                        </ul>
                        <ul>
                            <input type="radio" name="difficulty" value="2" id="dif-medium">
                            <label for="dif-medium">Medium</label>
                        </ul>
                        <ul>
                            <input type="radio" name="difficulty" value="3" id="dif-chad">
                            <label for="dif-chad">Chad</label>
                        </ul>
                    </li>
                    <input type="button" value="Ready" class="start-btn">
                </div>
            </div>
            
        </section>
        <section class="game">
            <div class="container center">
                <div class="container-display">
                    <h1 class="score">Score: <span>0</span></h1>
                    <div class="display">
                        <div class="hole">
                            <div class="bg e">
                                <div class="entity"></div>
                            </div>
                            <div class="bg h">
                                <div class="dirt"></div>
                                <div class="dirt"></div>
                                <div class="dirt"></div>
                                <div class="dirt"></div>
                            </div>
                        </div>
                        <div class="hole">
                            <div class="bg e">
                                <div class="entity"></div>
                            </div>
                            <div class="bg h">
                                <div class="dirt"></div>
                                <div class="dirt"></div>
                                <div class="dirt"></div>
                                <div class="dirt"></div>
                            </div>
                        </div>
                        <div class="hole">
                            <div class="bg e">
                                <div class="entity"></div>
                            </div>
                            <div class="bg h">
                                <div class="dirt"></div>
                                <div class="dirt"></div>
                                <div class="dirt"></div>
                                <div class="dirt"></div>
                            </div>
                        </div>
                        <div class="hole">
                            <div class="bg e">
                                <div class="entity"></div>
                            </div>
                            <div class="bg h">
                                <div class="dirt"></div>
                                <div class="dirt"></div>
                                <div class="dirt"></div>
                                <div class="dirt"></div>
                            </div>
                        </div>
                        <div class="hole">
                            <div class="bg e">
                                <div class="entity"></div>
                            </div>
                            <div class="bg h">
                                <div class="dirt"></div>
                                <div class="dirt"></div>
                                <div class="dirt"></div>
                                <div class="dirt"></div>
                            </div>
                        </div>
                        <div class="hole">
                            <div class="bg e">
                                <div class="entity"></div>
                            </div>
                            <div class="bg h">
                                <div class="dirt"></div>
                                <div class="dirt"></div>
                                <div class="dirt"></div>
                                <div class="dirt"></div>
                            </div>
                        </div>
                        <div class="hole">
                            <div class="bg e">
                                <div class="entity"></div>
                            </div>
                            <div class="bg h">
                                <div class="dirt"></div>
                                <div class="dirt"></div>
                                <div class="dirt"></div>
                                <div class="dirt"></div>
                            </div>
                        </div>
                        <div class="hole">
                            <div class="bg e">
                                <div class="entity"></div>
                            </div>
                            <div class="bg h">
                                <div class="dirt"></div>
                                <div class="dirt"></div>
                                <div class="dirt"></div>
                                <div class="dirt"></div>
                            </div>
                        </div>
                        <div class="hole">
                            <div class="bg e">
                                <div class="entity"></div>
                            </div>
                            <div class="bg h">
                                <div class="dirt"></div>
                                <div class="dirt"></div>
                                <div class="dirt"></div>
                                <div class="dirt"></div>
                            </div>
                        </div>
                    </div>
                    <p class="tips"></p>
                </div>
                <div class="container-stats">
                    <h2>Status</h2>
                    <p>Heart: <span id="heart"></span></p>
                    <p>Score: <span id="score"></span></p>
                    <p>Stage: <span id="stage"></span></p>
                    <p>Monster: <span id="monster"></span></p>
                    <p>Multiplier: <span id="multiplier"></span></p>
                </div>
            </div>
        </section>
        <section class="gameover">
            <div>
                <p>gameover</p>
                <div class="status-endgame">
                    <h2>Status</h2>
                    <p>Score: <span id="score"></span></p>
                    <p>Stage: <span id="stage"></span></p>
                    <p>Multiplier: <span id="multiplier"></span></p>
                </div>
            </div>
        </section>
    </main>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="../public/js/ui.js"></script>
<script src="../public/js/main.js"></script>
</html>
