@keyframes textChecked {
    from {
        border-bottom: 0.08em dashed var(--font-color);
    } to {
        border-bottom: 0;
    }
}

@keyframes idleMonster {
    from {
        transform: translate(-50%, 180%);
        clip-path: inset(0 0 100% 0);
    } to {
        transform: translate(-50%, 60%);
        clip-path: inset(0);
    }
}

@keyframes hole {
    0% {
        transform: translate(-5%);
    } 50% {
        transform: translate(5%);
    } 100% {
        transform: translate(0%, 0%);
    }
}

@keyframes stage2 {
    from {
        filter: blur(0);
    } to {
        filter: blur(10px);
    }
}

@keyframes stage3 {
    0% {
        transform: translate(25%, -10%);
    } 25% {
        transform: translate(-10%, 20%);
    } 75% {
        transform: translate(15%, 15%);
    } 100% {
        transform: translate(-7%, -12%);
    }
}

@keyframes stage4 {
    from {
        transform: rotate(360deg);
    } to {
        transform: rotate(0deg);
    }
}

@keyframes stage5 {
    0% {
        background-color: transparent;
    } 80% {
        background-color: white;
    }
}

@keyframes stage6 {
    0% {
        clip-path: inset(0);
    } 25% {
        clip-path: inset(0 50% 0 0);
    } 75% {
        clip-path: inset(0);
    } 100% {
        clip-path: inset(0 0 0 50%);
    }
}

@keyframes stage7 {
    /* for entity uwu*/
    0% {
        rotate: 360deg;
        transform: translate(50%, -20%);
    } 25% {
        transform: translate(-10%, 40%);
    } 75% {
        transform: translate(15%, 30%);
    } 100% {
        transform: translate(-35%, -30%);
        rotate: 0deg;
    }
}

@keyframes stage8 {
    0% {
        filter: blur(0);
        rotate: 360deg;
        transform: translate(25%, -10%);
    } 25% {
        transform: translate(-10%, 20%);
    } 75% {
        transform: translate(15%, 15%);
    } 95%{
        background-color: transparent;
    } 100% {
        transform: translate(-7%, -12%);
        rotate: 0deg;
        filter: blur(10px);
        background-color: white;
    }
}

@keyframes entity8 {
    0% {
        rotate: 0deg;
        clip-path: inset(0);
        transform: translate(5%, -20%);
    } 25% {
        transform: translate(-16%, 10%);
        clip-path: inset(0 50% 0 0);
    } 75% {
        transform: translate(30%, 5%);
        clip-path: inset(0);
    } 100% {
        transform: translate(-9%, -22%);
        rotate: 360deg;
        clip-path: inset(0 0 0 50%);
    }
}

@keyframes blinking {
    0% {
        clip-path: inset(0 0 100% 0);
    } 40% {
        clip-path: inset(0);
    } 100% {
        clip-path: inset(0);
    }
}